In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('data/bigten_data_joined.csv')
df.head()

,game_id,Date,Home,Home_PTS,Away,Away_PTS,Playoffs,Home_opponent-effective-possession-ratio,Home_opponent-effective-possession-ratio_last1,Home_opponent-effective-possession-ratio_last3,...,OT,winner,open_spread,close_spread,open_tot,close_tot,Home_ML,Away_ML,Tot,Spread
0,0,2016-12-27,Maryland,84,Illinois,59,0,0.949,0.873,0.916,...,0,1,4.0,3.0,138,139,-150.0,130.0,143,25
1,1,2016-12-27,Minnesota,74,Michigan State,75,0,0.932,0.807,0.864,...,1,0,5.0,5.0,139,138,-260.0,210.0,149,1
2,2,2016-12-27,Penn State,77,Northwestern,87,0,0.914,0.847,0.921,...,0,0,1.0,3.0,142,139,145.0,-165.0,164,10
3,3,2016-12-27,Wisconsin,72,Rutgers,52,0,0.886,0.829,0.869,...,0,1,18.0,17.0,128,128,NaN,NaN,124,20
4,4,2016-12-28,Indiana,83,Nebraska,87,0,0.962,0.861,0.940,...,0,0,15.0,13.0,142,144,-1300.0,850.0,170,4

In [3]:
df['open_spread'] = df.open_spread.abs()
df['close_spread'] = df.close_spread.abs()

def spread(row):
    if not np.isnan(row.close_spread):
        return abs(row.close_spread)
    else:
        return abs(row.open_spread)
    
def tot(row):
    if not np.isnan(row.close_tot):
        return abs(row.close_tot)
    else:
        return abs(row.open_tot)
    
df['spread'] = df.apply(lambda row: spread(row), axis=1)
df['tot'] = df.apply(lambda row: tot(row), axis=1)

In [4]:
# df = df.dropna().reset_index(drop=True)
drop_columns_X = []
for col in list(df.columns):
    nulls = df[col].isnull().sum()
    if nulls > 8:
        drop_columns_X.append(col)

In [5]:
game_df_columns = ['game_id', 
                   'Date', 
                   'season', 
                   'season_num', 
                   'Playoffs', 
                   'Home', 
                   'Home_PTS', 
                   'Away', 
                   'Away_PTS', 
                   'open_spread', 
                   'close_spread',
                   'open_tot', 
                   'close_tot', 
                   'Home_ML', 
                   'Away_ML',
                   'OT', 
                   'winner']

game_df = df[game_df_columns]
game_df.head()

,game_id,Date,season,season_num,Playoffs,Home,Home_PTS,Away,Away_PTS,open_spread,close_spread,open_tot,close_tot,Home_ML,Away_ML,OT,winner
0,0,2016-12-27,2016-2017,1,0,Maryland,84,Illinois,59,4.0,3.0,138,139,-150.0,130.0,0,1
1,1,2016-12-27,2016-2017,1,0,Minnesota,74,Michigan State,75,5.0,5.0,139,138,-260.0,210.0,1,0
2,2,2016-12-27,2016-2017,1,0,Penn State,77,Northwestern,87,1.0,3.0,142,139,145.0,-165.0,0,0
3,3,2016-12-27,2016-2017,1,0,Wisconsin,72,Rutgers,52,18.0,17.0,128,128,NaN,NaN,0,1
4,4,2016-12-28,2016-2017,1,0,Indiana,83,Nebraska,87,15.0,13.0,142,144,-1300.0,850.0,0,0

In [6]:
game_df

,game_id,Date,season,season_num,Playoffs,Home,Home_PTS,Away,Away_PTS,open_spread,close_spread,open_tot,close_tot,Home_ML,Away_ML,OT,winner
0,0,2016-12-27,2016-2017,1,0,Maryland,84,Illinois,59,4.0,3.0,138,139,-150.0,130.0,0,1
1,1,2016-12-27,2016-2017,1,0,Minnesota,74,Michigan State,75,5.0,5.0,139,138,-260.0,210.0,1,0
2,2,2016-12-27,2016-2017,1,0,Penn State,77,Northwestern,87,1.0,3.0,142,139,145.0,-165.0,0,0
3,3,2016-12-27,2016-2017,1,0,Wisconsin,72,Rutgers,52,18.0,17.0,128,128,NaN,NaN,0,1
4,4,2016-12-28,2016-2017,1,0,Indiana,83,Nebraska,87,15.0,13.0,142,144,-1300.0,850.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
716,716,2021-03-12,2020-2021,5,1,Iowa,62,Wisconsin,57,4.0,5.0,146,143,-200.0,175.0,0,1
717,717,2021-03-12,2020-2021,5,1,Purdue,78,Ohio State,87,1.0,1.0,142,140,100.0,-120.0,1,0
718,718,2021-03-13,2020-2021,5,1,Illinois,82,Iowa,71,2.0,3.0,157,154,-155.0,135.0,0,1
719,719,2021-03-13,2020-2021,5,1,Michigan,67,Ohio State,68,6.0,4.0,146,142,-230.0,195.0,0,0
720,720,2021-03-14,2020-2021,5,1,Illinois,91,Ohio State,88,5.0,6.0,152,148,-300.0,250.0,1,1

In [6]:
y_columns = ['game_id', 'OT', 'Tot', 'Spread', 'winner']

y_df = df[y_columns]
y_df

     game_id  OT  Tot  Spread  winner
0          0   0  143      25       1
1          1   1  149       1       0
2          2   0  164      10       0
3          3   0  124      20       1
4          4   0  170       4       0
..       ...  ..  ...     ...     ...
716      716   0  119       5       1
717      717   1  165       9       0
718      718   0  153      11       1
719      719   0  135       1       0
720      720   1  179       3       1

[721 rows x 5 columns]

In [7]:
X_columns = [col for col in df.columns if col not in y_columns]
X_columns = [col for col in X_columns if col not in ['Date','Home','Home_PTS','Away','Away_PTS', 'season', 'season_num', 'open_spread', 'close_spread', 'open_tot', 'close_tot']]
X_columns = [col for col in X_columns if col not in drop_columns_X]
X_columns = ['game_id'] + X_columns

In [8]:
X_df = df[X_columns]
X_df = X_df.dropna()

- get a X df
- get a target or y df
- **get rid of weird values**
    - NaNs
    - outliers
    - values that do not make sense
- turn negative spreads to positive (only 3 rows where < 0)
    - assume thats how many points the favored team is expected to win by

In [9]:
for col in y_df.columns:
    if col == 'game_id':
        continue
    X_df[col] = X_df.game_id.map(dict(y_df.set_index('game_id')[col]))
# X_df['OT'] = X_df.game_id.map(dict(y_df.set_index('game_id')['winner']))

In [10]:
X_df.isnull().any().any()

False

In [13]:
X_df.to_csv('data/bigten_data_clean_ml.csv', index=False)

## Feature Importance